.fondo{
    background-image: linear-gradient(to bottom, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.miheather{
    

    width: auto;
    height: auto;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
   
    margin-top: 30px;
    border-radius: 50px;
    box-shadow: 0px 10px 20px 5px rgba(5, 31, 56, 0.586);
    border: 1px solid rgb(0, 179, 255);
    
    
}


.menup a{
    color: azure;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.efecto1:hover{
    color: #00e5ff;
    font-size: 20px;
}

.efecto2:hover{
    color: #00e5ff;
    font-size: 20px;
}

.efecto3:hover{
    color: #00e5ff;
    font-size: 20px;
}

.efecto4:hover{
    color: #00e5ff;
    font-size: 20px;
}



.contenedor{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    width: 100%;
    height: auto;
   
    padding: 20px;
    margin: 20px auto;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid rgb(0, 179, 255);
    box-shadow: 0px 10px 20px 5px rgba(5, 31, 56, 0.586);
    
    
    

}

.caja1{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    background-image:url("img/sususki.png");
    background-repeat: no-repeat;
    background-size: contain;
}



.caja2{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    background-image:url("img/yamaha.png");
    background-repeat: no-repeat;
    background-size: contain;
}


.caja3{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    
    background-image:url("img/honda.png");
    background-repeat: no-repeat;
    background-size: contain;
}


.caja4{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    
    background-image:url("img/kawasaki.png");
    background-repeat: no-repeat;
    background-size: contain;
}


.caja5{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    
    background-image:url("img/akt.png");
    background-repeat: no-repeat;
    background-size: contain;
}


.caja6{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    
    background-image:url("img/ktm.png");
    background-repeat: no-repeat;
    background-size: contain;
}

footer{
    margin-top: 30px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    width: 100%;
    border-radius: 30px;
    border: 1px solid rgb(0, 179, 255);
    box-shadow: 0px 10px 20px 5px rgba(5, 31, 56, 0.586);
}
.footer-copyright{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
footer h5{
    color: #161a1a; 
}
footer p{
    color: #161a1a; 
}
footer img{
    
    margin-top: 3px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
}
footer .list-unstyled{
margin-top: 30px;
}

.col-12.col-sm-12.col-md-3.col-lg-2.col-xl-2 {
    padding: 8px;
    border: solid 1px #ebebeb;
    background-position: center;
    height: 172px;
}

